{% extends "mobile/base.html" %}

{% block title %} Album {% endblock %}

{% block body %}

<!-- Page -->

<div class="mobile-grid">

  <div class="mobile-cell">
    <a href="/mobile">HOME</a>
  </div>

  {% if (radio_player.state=='play') and (radio_player.loaded=='album') and (radio_player.artist.id==artist.id) and (radio_player.album==album) %}
    <div class="mobile-cell-icon">
      <a href="/mobile/album/stop"><i class="far fa-stop-circle fa-lg"></i></a>
    </div>
  {% else %}
    <div class="mobile-cell-icon">
      <a href="/mobile/album/play/{{artist.id}}/{{album}}"><i class="far fa-play-circle fa-lg"></i></a>
    </div>
  {% endif %}

  <div class="mobile-cell">
      <img src="/static/images/albums/{{artist.name}}/{{album}}.png">
  </div>


  {% for song in songs_list %}

  <div class="mobile-song">
    {% if (radio_player.loaded=='album') and (radio_player.artist.id==artist.id) and (radio_player.album==album) %}
      {% if radio_player.song_pos==song['pos'] %}
        <a href="/mobile/song/play/{{song['pos']}}" style='color: lightgreen;'><i class="far fa-play-circle fa-lg"></i> {{song['title']}}</a>
      {% else %}
        <a href="/mobile/song/play/{{song['pos']}}"><i class="far fa-play-circle fa-lg"></i> {{song['title']}}</a>
      {% endif %}
    {% else %}
      <div class="mobile-song-track">{{song['track']}}</div> <p>{{song['title']}}</p>
    {% endif %}
  </div>

  {% endfor %}

</div>

<!-- Page -->

{% endblock body %}
