{% extends "mobile_base.html" %}

{% block title %}{% endblock %}

{% block body %}

<!-- Page -->

<div class="mobile-body">

    <div class="mobile-row">
      <a href="/mobile/artist/list/all/all">All Artist</a>
    </div>
    <div class="mobile-row">
      <a href="/mobile/artist/list/favorite/all">Favorite</a>
    </div>

    <div class="mobile-row">
      <a href="/mobile/artist/filter_list/style">By Style</a>
    </div>
    <div class="mobile-row">
      <a href="/mobile/artist/filter_list/country">By Country</a>
    </div>
    <div class="mobile-row">
      <a href="/mobile/artist/filter_list/stars">By Stars</a>
    </div>
</div>

<!-- Page -->

{% endblock body %}
