{% extends "mobile_base.html" %}

{% block title %} Radios {% endblock %}

{% block body %}

<!-- Page -->

<div class="mobile-body">
    
    <div class="mobile-row">
    {% if radio_player.server_name == 'rune-1' %}
      <p>Oficina</p>
    {% else %}
      <a href="/mobile/server/select/rune-1">Oficina</a>
    {% endif %}
    </div>

    <div class="mobile-row">
    {% if radio_player.server_name == 'cxn' %}
      <p>CNX Sala</p>
    {% else %}
      <a href="/mobile/server/select/cxn">CNX Sala</a>
    {% endif %}
    </div>

</div>

<!-- Page -->

{% endblock body %}
