<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>{% block title %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="/static/icons/player.ico"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="185x185" href="/static/icons/apple-icon-185x185.png"/>
    <link rel="apple-touch-icon" sizes="500x500" href="/static/icons/apple-icon-500x500.png"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/mobile.css" media="screen">

    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>

<body style="background-color: #272B30;">

  <div class="mobile-container">

  <div class="mobile-bar">
    <div class="mobile-bar-item">

      <a href="/mobile/player"><img src="{{radio_player.player_img}}"></a>
      
      <a href="/mobile"><i class="fas fa-home"></i></a>
      
      <a href="/mobile/favorite"><i class="fas fa-star"></i></a>
            
      <a href="/mobile/config"><i class="fas fa-cogs"></i></a>
    
    </div>
  </div>

  {% block body %}
  {% endblock body %}

  </div>

</body>
