{% extends "mobile_base.html" %}

{% block title %} RadioPlayer {% endblock %}

{% block body %}

<!-- Page -->

<div class="mobile-body">

  <div class="mobile-player-center">
    <img src="{{radio_player.player_img}}">
  </div>

  {% if radio_player.loaded == 'cxn_radio' %}
    <div class="mobile-player-artist"><p>{{ radio.name }}</p></div>
    <div class="mobile-player-album"><p>{{ radio.country }}</p></div>
    <div class="mobile-player-album"><p>{{ radio.style }}</p></div>
  {% endif %}
  

</div>

<div class="mobile-bar">
  <div class="mobile-bar-item">

    <a href="/mobile/show/playlist" style="font-size: 30px;"><i class="fas fa-list"></i></a>

    <a href="/mobile/vol_down" style="font-size: 30px;"><i class="fas fa-minus"></i></a>

    {% if radio_player.state != 'play' %}
      <a href="/mobile/play" style="font-size: 50px; color: lightgreen;"><i class="far fa-play-circle fa-lg"></i></a>
    {% else %}
      <a href="/mobile/stop" style="font-size: 50px;"><i class="far fa-stop-circle fa-lg"></i></a>
    {% endif %}

    <a href="/mobile/vol_up" style="font-size: 30px;"><i class="fas fa-plus"></i></a>
  
    {% if (radio_player.loaded == 'radio' and radio_player.radio.fav) or (radio_player.loaded == 'album' and radio_player.artist.fav) %}
      <a href="/mobile/fav" style="color: tomato;"><i class="fas fa-heart"></i></a>
    {% else %}
      <a href="/mobile/power  " style="color: tomato;"><i class="fas fa-power-off"></i></a>
    {% endif %}


  </div>
</div>


<!-- Page -->

{% endblock body %}
