{% extends "mobile/base.html" %}

{% block title %} Radios {% endblock %}

{% block body %}

<!-- Page -->

<div class="mobile-grid">

  <div class="mobile-cell">
    <a href="/mobile">HOME</a>
  </div>

  {% if radio_player.loaded == 'radio' %}

    {% if radio_player.state == 'play' %}
    <div class="mobile-cell-icon">
      <a href="/mobile/stop"><i class="far fa-stop-circle fa-lg"></i></a>
    </div>
    {% else %}
    <div class="mobile-cell-icon">
      <a href="/mobile/play"><i class="far fa-play-circle fa-lg"></i></a>
    </div>
    {% endif %}

    <div class="mobile-cell">
        <img src="/static/images/radios/{{radio_player.radio.nickname}}.png">
    </div>

  {% endif %}


  {% for radio in radio_list %}

  <div class="mobile-cell">
    <a href="/mobile/playradio/{{radio.nickname}}"><img src="/static/images/radios/{{radio.nickname}}.png"></a>
  </div>

  {% endfor %}

</div>

<!-- Page -->

{% endblock body %}
