{% extends "mobile/base.html" %}

{% block title %} Radios {% endblock %}

{% block body %}

<!-- Page -->

<div class="mobile-grid">
    <div class="mobile-cell">
      <a href="/mobile">HOME</a>
    </div>
    <div class="mobile-cell">
      <a href="/mobile/radio/all">ALL</a>
    </div>
    <div class="mobile-cell">
      <a href="/mobile/radio/styles">STYLE</a>
    </div>

    <div class="mobile-cell">
      <a href="/mobile/radio/countries">COUNTRY</a>
    </div>
</div>

<!-- Page -->

{% endblock body %}
