{% extends "web/base.html" %}

{% block title %} Album {% endblock %}

{% block body %}

<div class="row">

<div class="col-player">

<!--   <div class="bs-component"> -->

    <div class="card text-white bg-dark mb-3">

      <h3 class="card-header"><a href="/web/artist/albums/{{artist.id}}">{{artist.name}}</a></h3>

       <div class="card-body">
         <h4 class="card-title">2011</h4>
       </div>

       <div class="card-body" style ="padding: 2px;">
         <div class="thumb-container">
           <img src="/static/images/albums/{{artist.name}}/{{album}}.png" class="thumb-image">
           <div class="thumb-overlay">
             <div class="thumb-overlay-main-player">
                 <a href="/web/album/play/{{artist.id}}/{{album}}" class="thumb-icon-main-player" title="Play"><i class="far fa-play-circle fa-lg"></i></a>
             </div>
           </div>
         </div>
       </div>

       <div class="card-footer">
         <p class="card-text text-right"><a class="card-link" href="/album/edit/{{artist.id}}/{{album}}">Edit</a></p>
       </div>

    </div>
<!--   </div> -->
</div>

<div class="col-grid">

  <div class="bs-component">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">

      <h3 class="card-header">{{album}}</h3>
      
      <div class="card-body">

        <ul class="list-group list-group-flush">
          {% for song in songs_list %}

             <li class="list-group-item">
               <div class="song-list-col">

                 {% if (radio_player.loaded=='album') and (radio_player.artist.id==artist.id) and (radio_player.album==album)%}
                   {% if radio_player.song_pos==song['pos'] %}
                     <div class="song-play">
                       <a href="/web/song/play/{{song['pos']}}" class="card-link" style="color: lightgreen;"><i class="far fa-play-circle fa-lg"></i></a>
                     </div>
                     <div class="song-text" style="color: lightgreen;">{{song['title']}}</div>
                     <div class="song-time" style="color: lightgreen;">{{song['time']}}</div>
                   {% else %}
                     <div class="song-play">
                      <a href="/web/song/play/{{song['pos']}}" class="card-link"><i class="far fa-play-circle fa-lg"></i></a>
                     </div>
                     <div class="song-text">{{song['title']}}</div>
                     <div class="song-time">{{song['time']}}</div>
                   {% endif %}
                 {% else %}
                   <div class="song-track">{{song['track']}}</div>
                   <div class="song-text">{{song['title']}}</div>
                   <div class="song-time">{{song['time']}}</div>
                 {% endif %}

               </div>
             </li>

          {% endfor %}
        </ul>

    </div>
   </div>
  </div>
</div>

</div>

<!-- Page -->

{% endblock body %}
