{% extends "web/base.html" %}

{% block title %} Edit Album {% endblock %}

{% block body %}

<div class="row">
   <div class="col-lg-10 offset-lg-1">
     <div class="bs-component">
       <form method="POST" action="/album/edit_commit/{{artist.id}}/{{album}}" enctype = "multipart/form-data">
         <fieldset>
           <legend>Edit Album</legend>

           <div class="form-group">
             <label>Image</label>
             <input type="file" class="form-control" name="image_file">
           </div>


         </fieldset>
         <button type="submit" class="btn btn-primary">Edit Album</button>
      </form>
    </div>
  </div>
</div>

<!-- Page -->

{% endblock body %}
