{% extends "web/base.html" %}

{% block title %} RadioPlayer {% endblock %}

{% block body %}

<div class="row">

<div class="col-player">
<!--   <div class="bs-component"> -->

    <div class="card text-white bg-primary mb-3">

       <h3 class="card-header">{{artist.name}}</h3>

       <div class="card-body">
         <h5 class="card-title"><a href="/web/artist/style/{{artist.style}}">{{artist.style}}</a></h5>
         <h5 class="card-title"><a href="/web/artist/country/{{artist.country}}">{{artist.country}}</a></h5>
       </div>

       <div class="card-body" style ="padding: 5px;">
         <div class="thumb-container">
           <img src="/static/images/artist/{{artist.image}}" class="thumb-image">
         </div>
       </div>

       <div class="card-body">
         <p class="card-text">{{artist.description}}</p>
       </div>

       <div class="card-footer">
         <p class="card-text text-right"><a class="card-link" href="/artist/edit/{{artist.id}}">Edit</a></p>
       </div>

    </div>
<!--   </div> -->
</div>

<div class="col-grid">

  <div class="bs-component">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">

      <h5 class="card-header">Albums</h5>
      
      <div class="card-body">

        <div class="row">

        {% for album in album_list %}

         <div class="col-grid-element">
             <div class="thumb-container">
               <img src="/static/images/albums/{{artist.name}}/{{album}}.png" class="thumb-image">
               <div class="thumb-overlay">
                 <div class="thumb-overlay-link">
                   <a href="/web/artist/album/{{artist.id}}/{{album}}" class="thumb-link-text" title="Play">{{album}}</a>
                 </div>
               </div>
             </div>
        </div>

        {% endfor %}

       </div>

      </div>
   </div>
  </div>
</div>

</div>

<!-- Page -->

{% endblock body %}
