{% extends "web/base.html" %}

{% block title %} Edit Artist {% endblock %}

{% block body %}

<div class="row">
   <div class="col-lg-10 offset-lg-1">
     <div class="bs-component">
       <form method="POST" action="/artist/edit_commit/{{artist.id}}">
         <fieldset>
           <legend>Add Artist</legend>
           <div class="form-group">
             <label>Name</label>
             <input type="text" class="form-control" name="name" value="{{artist.name}}">
           </div>
           <div class="form-group">
             <label>Image</label>
             <input type="text" class="form-control" name="image" value="{{artist.image}}">
           </div>
           <div class="form-group">
             <label>Country</label>
             <input type="text" class="form-control" name="country" value="{{artist.country}}">
           </div>
           <div class="form-group">
             <label>Description</label>
             <input type="text" class="form-control" name="description" value="{{artist.description}}">
           </div>
           <div class="form-group">
             <label>Style</label>
             <input type="text" class="form-control" name="style" value="{{artist.style}}">
           </div>
           <div class="form-group">
             <label>Stars</label>
             <input type="text" class="form-control" name="stars" value="{{artist.stars}}">
           </div>
         </fieldset>
         <button type="submit" class="btn btn-primary">Edit Artist</button>
      </form>
    </div>
  </div>
</div>

<!-- Page -->

{% endblock body %}
