{% extends "web/base.html" %}

{% block title %} Add Podcast {% endblock %}

{% block body %}

<div class="row">
   <div class="col-lg-10 offset-lg-1">
     <div class="bs-component">
       <form method="POST" action="/podcast/add_commit">
         <fieldset>
           <legend>Add Podcast</legend>
           <div class="form-group">
             <label>Name</label>
             <input type="text" class="form-control" name="name">
           </div>
           <div class="form-group">
             <label>Image</label>
             <input type="text" class="form-control" name="image">
           </div>
           <div class="form-group">
             <label>Playlist</label>
             <input type="text" class="form-control" name="playlist">
           </div>
           <div class="form-group">
             <label>Pod Dir</label>
             <input type="text" class="form-control" name="pod_dir">
           </div>
         </fieldset>
         <button type="submit" class="btn btn-primary">Add Podcast</button>
      </form>
    </div>
  </div>
</div>

<!-- Page -->

{% endblock body %}
