{% extends "web/base.html" %}

{% block title %} Edit Podcast {% endblock %}

{% block body %}

<div class="row">
   <div class="col-lg-12">
     <div class="bs-component">
       <form method="POST" action="/podcast/edit_commit/{{podcast.id}}">
         <fieldset>
           <legend>Edit Podcast</legend>

            <div class="row">
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Name</label>
                 <input type="text" class="form-control" name="name" value="{{podcast.name}}">
               </div>
              </div>
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Image</label>
                 <input type="text" class="form-control" name="image" value="{{podcast.image}}">
               </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Playlist</label>
                 <input type="text" class="form-control" name="playlist" value="{{podcast.playlist}}">
               </div>
              </div>
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Country</label>
                 <input type="text" class="form-control" name="country" value="{{podcast.country}}">
               </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Description</label>
                 <input type="text" class="form-control" name="description" value="{{podcast.description}}">
               </div>
              </div>
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Style</label>
                 <input type="text" class="form-control" name="style" value="{{podcast.style}}">
               </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Stars</label>
                 <input type="text" class="form-control" name="stars" value="{{podcast.stars}}">
               </div>
              </div>
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Web URL</label>
                 <input type="text" class="form-control" name="web_url" value="{{podcast.web_url}}">
               </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Feed URL</label>
                 <input type="text" class="form-control" name="feed_url" value="{{podcast.feed_url}}">
               </div>
              </div>
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Feed Filename Filter</label>
                 <input type="text" class="form-control" name="feed_filter" value="{{podcast.feed_filter}}">
               </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Pod Dir</label>
                 <input type="text" class="form-control" name="pod_dir" value="{{podcast.pod_dir}}">
               </div>
             </div>
             <div class="col-lg-6">
              <div class="form-group">
                 <label>Publisher</label>
                 <input type="text" class="form-control" name="publisher" value="{{podcast.publisher}}">
              </div>
             </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
               <div class="form-group">
                 <label>Priority</label>
                 <input type="text" class="form-control" name="priority" value="{{podcast.priority}}">
               </div>
              </div>
            </div>

         </div>

        </fieldset>
        <button type="submit" class="btn btn-primary">Edit Podcast</button>
      </form>
    </div>
  </div>
</div>

<!-- Page -->

{% endblock body %}
