{% extends "web/base.html" %}

{% block title %} RadioPlayer {% endblock %}

{% block body %}

<div class="bs-component">

  <div class="col-grid-full">

    <div class="card text-white bg-dark mb-3" style="flex: 0 0 100%">

      <div class="card-body">

        <ul class="list-group list-group-flush">
          {% for style in podcast_styles %}
             <li class="list-group-item"><a href="/web/podcast/style/{{style}}" class="card-link">{{style}}</a></li>
          {% endfor %}
        </ul>

       </div>
   </div>
  
  </div>

</div>

<!-- Page -->

{% endblock body %}
