{% extends "web/base.html" %}

{% block title %} RadioPlayer {% endblock %}

{% block body %}

<div class="row">

<div class="col-player">
<!--   <div class="bs-component"> -->

    <div class="card text-white bg-primary mb-3">

 
      <h3 class="card-header">{{radio.name}}</h3>

       <div class="card-body" style ="padding: 5px;">
         <div class="thumb-container">
           <img src="/static/images/radios/{{radio.nickname}}.png" class="thumb-image">
           <div class="thumb-overlay">
             <div class="thumb-overlay-main-player">
               {% if radio_player.radio.nickname != radio.nickname %}
                 <a href={{url_for('radio.playradio',client='web',nickname=radio.nickname)}} class="thumb-icon-main-player" title="Play"><i class="far fa-play-circle fa-lg"></i></a>
               {% endif %}
             </div>
           </div>
         </div>
       </div>

       <div class="card-footer">
         <p class="card-text text-right"><a class="card-link" href="/radio/edit/{{radio.nickname}}">Edit</a></p>
       </div>

    </div>
<!--   </div> -->
</div>


<div class="col-grid">

  <div class="bs-component">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
      <h5 class="card-header">Info</h5>
      <div class="card-body">

        <ul class="list-group list-group-flush">
             <li class="list-group-item"><a href="/web/radio/country/{{radio.country}}" class="card-link"><strong>{{radio.country}}</strong></a></li>
             <li class="list-group-item"><a href="/web/radio/style/{{radio.style}}" class="card-link"><strong>{{radio.style}}</strong></a></li>
             <li class="list-group-item"><a target="blank" href="{{radio.web_url}}" class="card-link"><strong>Web</strong></a></li>
             <li class="list-group-item"><a target="blank" href="{{radio.twitter}}" class="card-link"><strong>Twitter</strong></a></li>
        </ul>

    </div>
   </div>
  </div>
</div>

</div>

<!-- Page -->

{% endblock body %}
