{% extends "base.html" %}

{% block title %} Podcast Styles {% endblock %}

{% block body %}

<div class="bs-component">

  <div class="col-grid-full">

    <div class="card text-white bg-dark mb-3" style="flex: 0 0 100%">

      <h5 class="card-header">Podcast Styles</h5>

      <div class="card-body">

        <ul class="list-group list-group-flush">
          {% for style in podcast_styles %}
             <li class="list-group-item"><a href="{{ url_for('podcast.podcast_style', style=style) }}" class="card-link">{{style}}</a></li>
          {% endfor %}
        </ul>

       </div>
   </div>
  
  </div>

</div>

<!-- Page -->

{% endblock body %}
