{% extends "base.html" %}

{% block title %} RadioPlayer {% endblock %}

{% block body %}

<div class="bs-component">

<div class="col-grid-full">

  <div class="card text-white bg-dark" style="flex: 0 0 100%">
      <h5 class="card-header">{{title}}</h5>
      <div class="card-body">
        <div class="row">

        {% for podcast in podcast_list %}

         <div class="col-grid-element-full">
             <div class="thumb-container">
               <img src="/static/images/playlists/{{podcast.image}}" class="thumb-image">
               <div class="thumb-overlay">
                 <div class="thumb-overlay-link">
                   <a href="{{ url_for('podcast.podcast_show',id=podcast.id) }}"" class="thumb-link-text" title="Play">{{podcast.name}}</a>
                 </div>
               </div>
               <div class="thumb-overlay-edit">
                 <a href="/podcast/edit/{{podcast.id}}" class="thumb-icon-edit" title="Edit"><i class="fas fa-edit fa-xs"></i></a>
               </div>
               <div class="thumb-overlay-delete">
                 <a href="/podcast/delete/{{podcast.id}}" class="thumb-icon-delete" title="Delete"><i class="fas fa-trash-alt"></i></a>
               </div>
             </div>
        </div>

        {% endfor %}

       </div>
     </div>
   </div>
   
</div>

</div>

<!-- Page -->

{% endblock body %}
