{% extends "base.html" %}

{% block title %} Album {% endblock %}

{% block body %}

<div class="row">

<div class="col-player">
<!--   <div class="bs-component"> -->

    <div class="card text-white bg-dark mb-3">

      <h5 class="card-header">{{podcast.name}}</h5>

      <div class="card-body">
        <p class="card-text">{{podcast.description}}</p>
      </div>


      {% if (radio_player.loaded=='podcast') and (radio_player.podcast.id==podcast.id) and (radio_player.state=='play')%}

        <div class="card-body">

          <div class="player-controls">
            <div class="player-mid-control" id="id_time">Time: {{radio_player.elapsed_time_str()}}</div>
          </div>
          <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{radio_player.play_progress()}};" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
          <div class="player-controls">
            <div class="player-mid-control"><a href="/seekplus/30">+30s</a></div>
            <div class="player-mid-control"><a href="/seekplus/60">+60s</a></div>
            <div class="player-mid-control"><a href="/seekplus/300">+5m</a></div>
            <div class="player-mid-control"><a href="/seekplus/900">+15m</a></div>
          </div>
          <div class="player-controls">
            <div class="player-mid-control"><a href="/seekless/30">-30s</a></div>
            <div class="player-mid-control"><a href="/seekless/60">-60s</a></div>
            <div class="player-mid-control"><a href="/seekless/300">-5m</a></div>
            <div class="player-mid-control"><a href="/seekless/900">-15m</a></div>
          </div>

        </div>

       {% endif %}

       <div class="card-body" style ="padding: 5px;">
         <div class="thumb-container">
           <img src="/static/images/playlists/{{podcast.image}}" class="thumb-image">
           <div class="thumb-overlay">
               <div class="thumb-overlay-main-player">
                   <a href="{{ url_for('podcast.podcast_load', id=podcast.id) }}" class="thumb-icon-main-player" title="Play"><i class="far fa-play-circle fa-lg"></i></a>
               </div>
           </div>
         </div>
       </div>

      <div class="card-body">
        <ul class="list-group list-group-flush">
         <li class="list-group-item text-center"><a href="/podcast/country/{{podcast.country}}" class="card-link"><strong>{{podcast.country}}</strong></a></li>
         <li class="list-group-item text-center"><a href="/podcast/style/{{podcast.style}}" class="card-link"><strong>{{podcast.style}}</strong></a></li>
         <li class="list-group-item text-center"><a href="/podcast/feed/episodes/{{podcast.id}}" class="card-link"><strong>Check Feed</strong></a></li>
        </ul>
      </div>

      <div class="card-footer">
        <p class="card-text text-right"><a class="card-link" href="/podcast/edit/{{podcast.id}}">Edit</a></p>
      </div>

    </div>

<!--   </div> -->
</div>

<div class="col-info">

  <div class="bs-component">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
      <h5 class="card-header">Episodes</h5>
      <div class="card-body">

        <ul class="list-group list-group-flush">
          {% for song in songs_list %}

             <li class="list-group-item">
               <div class="episode-list-col">

                 {% if (radio_player.loaded=='podcast') and (radio_player.podcast.id==podcast.id) %}
                   
                   {% if radio_player.song_pos==song['pos'] %}
                     <div class="song-play">
                      {% if radio_player.state=='play' %}
                        <a href="/pause" class="card-link text-playing"><i class="far fa-pause-circle fa-lg"></i></a>
                      {% else %}
                        <a href="/play" class="card-link text-playing"><i class="far fa-play-circle fa-lg"></i></a>
                      {% endif %}
                     </div>
                     <div class="song-text text-playing">{{song['title']}}</div>
                     <div class="song-time text-playing">{{song['time']}}</div>
                   
                   {% else %}

                     <div class="song-play">
                      <a href="/play_song/{{song['pos']}}" class="card-link"><i class="far fa-play-circle fa-lg"></i></a>
                     </div>
                     <div class="song-text">{{song['title']}}</div>
                     <div class="song-time">{{song['time']}}</div>
                   {% endif %}
                 
                 {% else %}
                   <div class="song-track">{{song['track']}}</div>
                   <div class="song-text">{{song['title']}}</div>
                   <div class="song-time">{{song['time']}}</div>
                   <div class="song-tag"><a href="/podcast/edit_tag/{{podcast.id}}/{{song['track']}}"><i class="fas fa-edit"></i></a></div>
                   <div class="song-tag"><a href="/podcast/delete_episode/{{podcast.id}}/{{song['track']}}"><i class="fas fa-trash-alt"></i></a></div>
                 {% endif %}

               </div>
             </li>

          {% endfor %}
        </ul>

    </div>
   </div>
  </div>
</div>


<div class="col-links">

  <div class="bs-component">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
      
      <h5 class="card-header">Social</h5>
      <div class="card-body">

        <ul class="list-group list-group-flush">
              
              <li class="list-group-item text-center">
              {% for link in podcast.podcast_link_list %}
                {% if link.name in social_sites %}
                  <a target="blank" href="{{link.url}}" class="card-link" style="font-size: 1.5rem;"><i class="fab fa-{{link.name}} "></i></a>
               {% endif %}
              {% endfor %}
              </li>

        </ul>

      </div>

      <h5 class="card-header">Links</h5>
      <div class="card-body">

        <ul class="list-group list-group-flush">
              
              {% for link in podcast.podcast_link_list %}
                {% if not(link.name in social_sites) %}
                 <li class="list-group-item">
                  <div class="episode-list-col">
                    <div class="song-text"><a target="blank" href="{{link.url}}" class="card-link">{{link.name}}</a></div>
                    <div class="song-tag"><a href="/podcast/edit_link/{{link.id}}"><i class="fas fa-edit"></i></a></div>
                    <div class="song-tag"><a href="/podcast/delete_link/{{link.id}}"><i class="fas fa-trash-alt"></i></a></div>
                  </div>
                </li>
                {% endif %}
              {% endfor %}

        </ul>

      </div>

    <div class="card-footer">
      <p class="card-text text-right"><a class="card-link" href="/podcast/add_link/{{podcast.id}}">Add Link</a>
    </div>

   </div>
  </div>
</div>


</div>

<!-- Page -->

<!-- <script type="text/javascript">
   setTimeout(function(){
       // location.reload();
   },10);
</script>
 -->

{% endblock body %}
