{% extends "base.html" %}

{% block title %} Album {% endblock %}

{% block head %}

    <!-- Progressbar -->
    <link rel="stylesheet" type="text/css" href="/static/css/progressbar.css"/>

{% endblock head %}

{% block body %}

<div class="row">

<div class="col-player">
<!--   <div class="bs-component"> -->

    <div class="card text-white bg-dark mb-3">

      <h5 class="card-header">{{podcast.name}}</h5>

      <div class="card-body">
        <p class="card-text">{{podcast.description}}</p>
      </div>

       <div class="card-body" style ="padding: 5px;">
         <div class="thumb-container">
           <img src="/static/images/playlists/{{podcast.image}}" class="thumb-image">
           <div class="thumb-overlay">
               <div class="thumb-overlay-main-player">
                   <a href="{{ url_for('podcast.podcast_load', id=podcast.id) }}" class="thumb-icon-main-player" title="Play"><i class="far fa-play-circle fa-lg"></i></a>
               </div>

             <div class="thumb-overlay-fav">
               {% if podcast.fav %}
                  <a href="{{url_for('podcast.podcast_unfav',id=podcast.id)}}"><i class="fas fa-star"></i></a>           
               {% else %}
                  <a href="{{url_for('podcast.podcast_fav',id=podcast.id)}}"><i class="far fa-star"></i></a>            
               {% endif %}
             </div>

             <div class="thumb-overlay-bookmark">
                <a href="{{url_for('podcast.podcast_bookmark',id=podcast.id)}}"><i class="fas fa-bookmark"></i></a>          
             </div>

           </div>
         </div>
       </div>


        {% if (radio_player.loaded=='podcast') and (radio_player.podcast.id==podcast.id) %}

        <div class="card-body">
          
          <p class="card-text text-center"><strong>{{radio_player.server_currentsong('title')}}</strong></p>
          <div id="container_play"></div> 
          
          {% if (radio_player.state!='stop') %}

          <div class="player-controls">
            <div class="player-mid-control"><a href="/seekplus/30">+30s</a></div>
            <div class="player-mid-control"><a href="/seekplus/60">+60s</a></div>
            <div class="player-mid-control"><a href="/seekplus/300">+5m</a></div>
            <div class="player-mid-control"><a href="/seekplus/900">+15m</a></div>
          </div>
          <div class="player-controls">
            <div class="player-mid-control"><a href="/seekless/30">-30s</a></div>
            <div class="player-mid-control"><a href="/seekless/60">-60s</a></div>
            <div class="player-mid-control"><a href="/seekless/300">-5m</a></div>
            <div class="player-mid-control"><a href="/seekless/900">-15m</a></div>
          </div>
          
          {% endif %}

        </div>

       {% endif %}


        {% if (radio_player.loaded=='podcast-url') and (radio_player.podcast.id==podcast.id) %}

        <div class="card-body">
          
          <p class="card-text text-center"><strong>{{radio_player.server_currentsong('file')}}</strong></p>
          
        </div>

       {% endif %}

      <div class="card-body">
        <ul class="list-group list-group-flush">

         {% if podcast.stars %}
         <li class="list-group-item text-center" style="font-size: 1.5rem;">
         {% for star in range(0,podcast.stars) %}
           <a href="/podcast/stars/{{podcast.id}}/{{star + 1}}"><i class="fas fa-star"></i></a>
         {% endfor %}
         {% for star in range(podcast.stars,5) %}
           <a href="/podcast/stars/{{podcast.id}}/{{star + 1}}"><i class="far fa-star"></i></a>
         {% endfor %}
         </li>
         {% endif %}

         <li class="list-group-item text-center"><a class="card-link" href="/podcast/country/{{podcast.country}}"> <img src="/static/images/flags/{{podcast.country}}-24.png"></a></li>
         <li class="list-group-item text-center"><a href="/podcast/style/{{podcast.style}}" class="card-link"><strong>{{podcast.style}}</strong></a></li>
         <li class="list-group-item text-center"><a href="/podcast/feed/episodes/{{podcast.id}}" class="card-link"><strong>Check Feed Episodes</strong></a></li>
        </ul>
      </div>

      <div class="card-footer">
        <p class="card-text text-right"><a class="card-link" href="/podcast/edit/{{podcast.id}}">Edit</a></p>
      </div>

    </div>

<!--   </div> -->
</div>

<div class="col-info">

  <div class="bs-component">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
      <h5 class="card-header">Episodes</h5>
      <div class="card-body">

        <ul class="list-group list-group-flush">
          {% for song in songs_list %}

             <li class="list-group-item">
               <div class="episode-list-col">

                 {% if (radio_player.loaded=='podcast') and (radio_player.podcast.id==podcast.id) %}
                   
                   {% if radio_player.server_currentsong('pos')==song['pos'] %}
                     <div class="song-play">
                      {% if radio_player.state=='play' %}
                        <a href="/pause" class="card-link text-playing"><i class="far fa-pause-circle fa-lg"></i></a>
                      {% else %}
                        <a href="/play" class="card-link text-playing"><i class="far fa-play-circle fa-lg"></i></a>
                      {% endif %}
                     </div>
                     <div class="song-text text-playing">{{song['title']}}</div>
                     <div class="song-time text-playing">{{song['time']}}</div>
                   
                   {% else %}

                     <div class="song-play">
                      <a href="/play_song/{{song['pos']}}" class="card-link"><i class="far fa-play-circle fa-lg"></i></a>
                     </div>
                     <div class="song-text">{{song['title']}}</div>
                     <div class="song-time">{{song['time']}}</div>
                   {% endif %}
                 
                 {% else %}
                   <div class="song-track">{{song['track']}}</div>
                   <div class="song-text">{{song['title']}}</div>
                   <div class="song-time">{{song['time']}}</div>
                   <div class="song-tag"><a href="/podcast/edit_tag/{{podcast.id}}/{{song['track']}}"><i class="fas fa-edit"></i></a></div>
                   <div class="song-tag"><a href="/podcast/episode_url/{{podcast.id}}/{{song['track']}}"><i class="fas fa-link"></i></a></div>
                   <div class="song-tag"><a href="/podcast/delete_episode/{{podcast.id}}/{{song['track']}}"><i class="fas fa-trash-alt"></i></a></div>
                 {% endif %}

               </div>
             </li>

          {% endfor %}
        </ul>

    </div>

   </div>
  </div>
</div>


<div class="col-links">

  <div class="bs-component">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
      
      <h5 class="card-header">Social</h5>
      <div class="card-body">

        <ul class="list-group list-group-flush">
              
              <li class="list-group-item text-center">
              {% for link in podcast.podcast_link_list %}
                {% if link.name in social_sites %}
                  <a target="blank" href="{{link.url}}" class="card-link" style="font-size: 1.5rem;"><i class="fab fa-{{link.name}} "></i></a>
               {% endif %}
              {% endfor %}
              </li>

        </ul>

      </div>

      <h5 class="card-header">Links</h5>
      <div class="card-body">

        <ul class="list-group list-group-flush">
              
              {% for link in podcast.podcast_link_list %}
                {% if not(link.name in social_sites) %}
                 <li class="list-group-item">
                  <div class="episode-list-col">
                    <div class="song-text"><a target="blank" href="{{link.url}}" class="card-link">{{link.name}}</a></div>
                    <div class="song-tag"><a href="/podcast/edit_link/{{link.id}}"><i class="fas fa-edit"></i></a></div>
                    <div class="song-tag"><a href="/podcast/delete_link/{{link.id}}"><i class="fas fa-trash-alt"></i></a></div>
                  </div>
                </li>
                {% endif %}
              {% endfor %}

        </ul>

      </div>

    <div class="card-footer">
      <p class="card-text text-right"><a class="card-link" href="/podcast/add_link/{{podcast.id}}">Add Link</a>
    </div>

   </div>
  </div>
</div>

</div>


{% endblock %}

{% block scripts %}

  <!-- Progress Bar JS -->
  <script type="text/javascript" src="/static/js/progressbar.js"></script>

  <!-- Player Bar JS -->
  <script type="text/javascript">

    var bar = new ProgressBar.Line(container_play, {
      strokeWidth: 2,
      easing: 'easeInOut',
      duration: 1000,
      color: '#00DD00',
      trailColor: '#eee',
      trailWidth: 1,
      svgStyle: {width: '100%', height: '100%'},
      text: {
        style: {
          color: '#FFFFFF',
          position: 'absolute',
          left: '100px',
          bottom: '15px',
          padding: 0,
          margin: 0,
        },
      },
    });


    stime = {{radio_player.server_currentsong('time')}}   
    elapsed = {{radio_player.server_status('elapsed')}}
    val = elapsed / stime

    init_msec = Date.now()
    act_ela = elapsed * 1000
    act_res = stime * 1000 - act_ela

    val = act_ela / 1000 / stime

    hours = Math.floor((act_res / 1000/ 60/ 60));
    minutes = Math.floor((act_res / 1000/ 60 - (hours * 60)));
    seconds = Math.floor(act_res / 1000 - (minutes * 60) - (hours * 3600));

    if (hours < 10) {hours = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}

    time_txt = hours + ':' + minutes + ':' + seconds

    bar.set(val)
    bar.setText(time_txt);
    
    if ('{{radio_player.state}}' == 'play') {

      setInterval(function() {
        if ( bar.value() > 1 ) {
          location.reload()
        }

        act_msec = Date.now()
        dif_msec = act_msec - init_msec
        act_ela = elapsed * 1000 + dif_msec
        act_res = stime * 1000 - act_ela
        val = act_ela / 1000 / stime

        hours = Math.floor((act_res / 1000/ 60/ 60));
        minutes = Math.floor((act_res / 1000/ 60 - (hours * 60)));
        seconds = Math.floor(act_res / 1000 - (minutes * 60) - (hours * 3600));

        if (hours < 10) {hours = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}

        time_txt = hours + ':' + minutes + ':' + seconds

        bar.animate(val);
        bar.setText(time_txt);

      }, 900);
    
    }
    

  </script>

{% endblock %}
