{% extends "base.html" %}

{% block title %} Album {% endblock %}

{% block body %}

<div class="row">

<div class="col-player">
<!--   <div class="bs-component"> -->

    <div class="card text-white bg-dark mb-3">

      <h5 class="card-header"><a href="/podcast/show/{{podcast.id}}">{{podcast.name}}</a></h5>

       <div class="card-body" style ="padding: 5px;">
         <div class="thumb-container">
           <a href="/podcast/show/{{podcast.id}}"><img src="/static/images/playlists/{{podcast.image}}" class="thumb-image"></a>
         </div>
       </div>

      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center"><a href="/podcast/feed/update/{{podcast.id}}" class="card-link"><strong>Refresh Feed</strong></a></li>
        </ul>
      </div>

    </div>
</div>

<!--   </div> -->

<div class="col-grid">

  <div class="bs-component">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
      <h5 class="card-header">Episodes in the Feed</h5>
      <div class="card-body">

        <ul class="list-group list-group-flush">
          {% for episode in episodes_list %}

             <li class="list-group-item">
               <div class="episode-list-col">
                  
                  {% if episode['downloaded'] == 'No' %}

                    <div class="episode-icon"><a href="/podcast/play_track/{{podcast.id}}/{{episode['track']}}"><i class="far fa-play-circle fa-lg"></i></a></div>
                    <div class="episode-date">{{episode['pubdate']}}</div>
                    <div class="episode-title">{{episode['title']}}</div>
                    <div class="episode-desc">{{episode['description']}}</div>
                    <div class="episode-length">{{episode['length']}}</div>
                    <div class="episode-icon"><a href="/podcast/download/episode/{{podcast.id}}/{{episode['track']}}"><i class="fas fa-download"></i></a></div>
                  
                  {% else %}

                    <div class="episode-icon text-playing"><a href="/podcast/play_track/{{podcast.id}}/{{episode['track']}}"><i class="far fa-play-circle fa-lg"></i></a></div>
                    <div class="episode-date-down">{{episode['pubdate']}}</div>
                    <div class="episode-title-down">{{episode['title']}}</div>
                    <div class="episode-desc-down">{{episode['description']}}</div>
                    <div class="episode-length-down">{{episode['length']}}</div>
                    <div class="episode-icon"></div>
                  
                  {% endif %}
               
               </div>
             </li>

          {% endfor %}

        </ul>

    </div>
   </div>
  </div>
</div>

</div>

<!-- Page -->

{% endblock body %}


{% block scripts %}

  <script>

      $('.episode-icon').click(function(){
        icon = $(this).find("i");
        icon.toggleClass("fas fa-download fas fa-spinner fa-spin episode-down-icon")
      })

  </script>


{% endblock scripts %}
