{% extends "base.html" %}

{% block title %} Playlist List {% endblock %}

{% block body %}


  <table width="100%" class="table table-striped table-hover" id="dataTables-radios">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Playlist</th>
        <th>Description</th>
        <th>Type</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for playlist in playlist_list %}
        <tr>
          <td>{{playlist.id}}</td>
          <td><a href="{{ url_for('playlist.playlist_show',id=playlist.id) }}">{{playlist.name}}</a></td>
          <td>{{playlist.image}}</td>
          <td>{{playlist.playlist}}</td>
          <td>{{playlist.description}}</td>
          <td>{{playlist.type}}</td>
          <td><a href="{{ url_for('playlist.playlist_edit',id=playlist.id) }}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<!-- Page -->

{% endblock body %}
