{% extends "base.html" %}

{% block title %} Radio List {% endblock %}

{% block head %}

    <!-- DataTables CSS -->
    <link "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

{% endblock head %}


{% block body %}

<div class="bs-component">

<div class="col-grid-full">

  <div class="card text-white bg-dark" style="flex: 0 0 100%">

  <h5 class="card-header">List Radios</h5>

  <div class="card-body">

  <table width="100%" class="table table-hover" id="dataTables">
    <thead>
      <tr class="table-active">
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Style</th>
        <th>CNX Preset</th>
        <th>Num Plays</th>
        <th>Stars</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for radio in radio_list %}
        <tr>
          <td>{{radio.id}}</td>
          <td><a href="{{ url_for('radio.radio_show',id=radio.id) }}">{{radio.name}}</a></td>
          <td>{{radio.country}}</td>
          <td>{{radio.style}}</td>
          <td>{{radio.preset}}</td>
          <td>{{radio.num_plays}}</td>
          <td>{{radio.stars}}</td>
          <td><a href="{{ url_for('radio.radio_edit',id=radio.id) }}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>

  </div>

</div>

</div>


<!-- Page -->

{% endblock body %}

{% block scripts %}

  <!-- DataTables JavaScript -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>

      $(document).ready(function() {
          $('#dataTables').DataTable({
              responsive: true,
              stateSave: true,
              "lengthMenu": [ 25,50 ],
              "dom": '<"class=form-control"f<t>pl>'
          });
      });

  </script>


{% endblock scripts %}