<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>{% block title %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="/static/icons/player.ico"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Slte CSS -->
    <link rel="stylesheet" href="/static/css/slate/bootstrap.css" media="screen">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css" media="screen">

    <!-- DataTables CSS -->
    <link "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

{% block head %}

{% endblock head %}

</head>

<body>

  <div class="container" style="max-width: 1500px;">

    <div class="bs-component">

       <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         
         <a class="navbar-brand nav-link" href="/playing"><img src="{{radio_player.player_img}}"" class="navbar-play-img"></a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>


          <div class="collapse navbar-collapse" id="navbarColor01">

           <ul class="navbar-nav mr-auto">
              <a class="navbar-brand nav-link" href="/previous"><i class="fas fa-backward"></i></a>
              <a class="navbar-brand nav-link" href="/stop"><i class="fas fa-stop"></i></a>
              <a class="navbar-brand nav-link" href="/play"><i class="fas fa-play"></i></a>
              <a class="navbar-brand nav-link" href="/pause"><i class="fas fa-pause"></i></a>
              <a class="navbar-brand nav-link" href="/next"><i class="fas fa-forward"></i></a>

              {% for radio in radio_player.fav_radios %}
                 <a class="navbar-brand nav-link" href="/playradio_menu/{{radio.id}}"><img src="/static/images/radios/{{radio.image}}" class="navbar-img"></a>
              {% endfor %}

           </ul>

         </div>

         <div class="collapse navbar-collapse" id="navbarColor01">

           <ul class="navbar-nav ml-auto">

             <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="#" id="download"><i class="fas fa-broadcast-tower"></i></a>
               <div class="dropdown-menu dropdown-menu-left" aria-labelledby="download">
                 <a class="dropdown-item" href="/radio/add"><strong>Add Radio</strong></a>
                 <a class="dropdown-item" href="/radio/list"><strong>List Radios</strong></a>
                 <a class="dropdown-item" href="/radio/all"><strong>All Radios</strong></a>
                 <a class="dropdown-item" href="/radio/favorite"><strong>Fav Radios</strong></a>
                 <a class="dropdown-item" href="/radio/styles"><strong>Styles</strong></a>
                 <a class="dropdown-item" href="/radio/countries"><strong>Countries</strong></a>
                 <a class="dropdown-item" href="/radio/list_program"><strong>List Programs</strong></a>
               </div>
             </li>

             <li class="nav-item dropdown">
               <a class="nav-link" data-toggle="dropdown" href="#" id="download"><i class="fas fa-compact-disc"></i></a>
               <div class="dropdown-menu dropdown-menu-left" aria-labelledby="download">
                 <a class="dropdown-item" href="/artist/add"><strong>Add Artist</strong></a>
                 <a class="dropdown-item" href="/artist/list"><strong>List Artist</strong></a>
                 <a class="dropdown-item" href="/artist/all"><strong>All Artist</strong></a>
                 <a class="dropdown-item" href="/artist/favorite"><strong>Fav Artist</strong></a>
                 <a class="dropdown-item" href="/artist/styles"><strong>Styles</strong></a>
                 <a class="dropdown-item" href="/artist/countries"><strong>Countries</strong></a>
               </div>
             </li>

             <li class="nav-item dropdown">
               <a class="nav-link" data-toggle="dropdown" href="#" id="download"><i class="fas fa-podcast"></i></a>
               <div class="dropdown-menu dropdown-menu-left" aria-labelledby="download">
                 <a class="dropdown-item" href="/podcast/add"><strong>Add Podcast</strong></a>
                 <a class="dropdown-item" href="/podcast/list"><strong>List Podcast</strong></a>
                 <a class="dropdown-item" href="/podcast/all"><strong>All Podcast</strong></a>
                 <a class="dropdown-item" href="/podcast/favorite"><strong>Fav Podcast</strong></a>
                 <a class="dropdown-item" href="/podcast/styles"><strong>Styles</strong></a>
                 <a class="dropdown-item" href="/podcast/countries"><strong>Countries</strong></a>
               </div>
             </li>

             <li class="nav-item dropdown">
               <a class="nav-link" data-toggle="dropdown" href="#" id="download"><i class="fas fa-music"></i></a>
               <div class="dropdown-menu dropdown-menu-left" aria-labelledby="download">
                 <a class="dropdown-item" href="/playlist/add"><strong>Add Playlist</strong></a>
                 <a class="dropdown-item" href="/playlist/list"><strong>List Playlist</strong></a>
                 <a class="dropdown-item" href="/playlist/all"><strong>All Playlists</strong></a>
                 <a class="dropdown-item" href="/playlist/type"><strong>Types</strong></a>
               </div>
             </li>

             <li class="nav-item dropdown">
               <a class="nav-link" data-toggle="dropdown" href="#" id="download"><i class="fas fa-server"></i></a>
               <div class="dropdown-menu dropdown-menu-left" aria-labelledby="download">
                 {% for server in radio_player.mpd_servers %}
                   <a class="dropdown-item" href="/mpd_client/{{server['server']}}"><strong>{{server['name']}}</strong></a>
                 {% endfor %}
                 <a class="dropdown-item" href="/play_url"><strong>Play URI</strong></a>
               </div>
             </li>

           </ul>

         </div>
         
       </nav>

     </div>

  {% block body %}
  
  {% endblock body %}

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  {% block scripts %}
  
  {% endblock scripts %}


</body>
